/* 
Color scheme :
#c4bebb light beige
#272929 dark grey
#494786 blueish purple
#9a2257 pinkish purple
#84d07d green screen
 */

 @font-face {
  font-family: monitorFont; 
  src: url(font/Gameplay.ttf); 
}
 @font-face {
  font-family: buttonFont; 
  src: url(font/usuzi.ttf); 
}
 @font-face {
  font-family: decoFont; 
  src: url(font/Venus\ Rising\ Rg.otf); 
}

 body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
 }

 .container{
  height: 750px;
  width: 450px;
  background-color: #e2e0d7;
  
  /* clip-path: polygon(0% 0%, 0% 100%,90% 100%, 100% 90%, 100% 0% ); */
  /* clip-path: path( "M 0 0 L 0 100 L 90 100 Q 100 100 100 90 L 100 0 Z" ); */ 
  /* clip-path: path("M 0 10 Q 0 0 10 0 L 290 0 Q 300 0 300 10 L 300 450 Q 300 500 250 500 L 10 500 Q 0 500 0 490 Z"); */
  /* clip-path: path("M 0 15 Q 0 0 15 0 L 435 0 Q 450 0 450 15 L 450 675 Q 450 750 375 750 L 15 750 Q 0 750 0 735 Z");  */
 
  -webkit-mask-image: url('svgs/body.svg');
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  
  mask-image: url('svgs/body.svg');
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  mask-position: center;
  
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 220px 450px 50px;
  justify-content: center;  
}

.monitor{  
  clip-path: path("M 0 0 L 0 200 L 350 200 Q 400 200 400 150 L 400 0 Z");
  border-radius: 15px 5px 0px 15px;
  grid-row: 1;
  width: 400px;
  height: 200px;
  background-color: #272929;
  align-self: self-end;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10% 10% 5% 10%;
  font-family: monitorFont; 
  
}
#sMonitor{
  flex: 1;
  background-color: rgb(174, 218, 56);
  display: flex;
  justify-content: flex-end;
  align-items: center;  
  padding-right: 3%;
}
#bMonitor{
  flex: 2;
  background-color: #84d07d;
  font-size: 32px; 
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0% 3% 5% 0%;
}

.buttons{  
  grid-row: 2;
  width: 400px;
  height: 440px;
  margin-top: 15px;
  box-sizing: border-box;  
  /* background-color: lightgrey;   */

  display: grid;
  grid-template-columns: 25% 25% 25% 25% ;
  grid-template-rows: 20% 20% 20% 20% 20%;   
}
.longButton, .regButton{
  font-family: buttonFont;  
  font-size: 2em;
  margin: 5px;
  border-radius: 20px;
  border-width: thick;
  border-color: rgb(93, 95, 82);
  /* border-style: none; */
}
.longButton{
  grid-column: 1/3;  
}
.numButton, #pointButton{ 
  color: white; 
  border-color: #494786;
  background-color: #9a2257;
}
.opButton{
  color: white;
  border-color: #9a2257;
  background-color: #494786;
}



.footer{
  font-family: decoFont;
  font-weight: bolder;
  font-size: 12px;
  letter-spacing: 2px;
  color: #494786;
  
  grid-row: 3;   
  width: 350px;
  height: 35px;    
  margin-top: 10px; 
  /* background-color: lightgrey;   */

  display: flex;
  align-items: center;
}

