/* 
Color scheme :
#c4bebb light beige
#272929 dark grey
#494786 blueish purple
#9a2257 pinkish purple
#84d07d green screen
 */

 body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
 }

 .container{
  height: 750px;
  width: 450px;
  background-color: #e2e0d7;
  /* clip-path: polygon(0% 0%, 0% 100%,90% 100%, 100% 90%, 100% 0% ); */
  /* clip-path: path( "M 0 0 L 0 100 L 90 100 Q 100 100 100 90 L 100 0 Z" ); */ 
  /* clip-path: path("M 0 10 Q 0 0 10 0 L 290 0 Q 300 0 300 10 L 300 450 Q 300 500 250 500 L 10 500 Q 0 500 0 490 Z"); */
  /* clip-path: path("M 0 15 Q 0 0 15 0 L 435 0 Q 450 0 450 15 L 450 675 Q 450 750 375 750 L 15 750 Q 0 750 0 735 Z");  */
 
  -webkit-mask-image: url('/svgs/body.svg');
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  
  mask-image: url('/svgs/body.svg');
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  mask-position: center;
}

